<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Awesome Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      p {color: red;}
      .done {text-decoration:line-through;}
      li:hover {background: grey;}
   </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>